<h2>Calculadora</h2>
<h3>{{ resultado }}</h3>
<h3>{{ valorNumericoPrimario }}</h3>
<h3>{{ valorNumericoSecundario }}</h3>
<p>{{valorPrimarioActivo}}</p>
<p>{{operador}}</p>
<button (click)="presionarNumero(0)">0</button>
<button (click)="presionarNumero(1)">1</button>
<button (click)="presionarNumero(2)">2</button>
<button (click)="presionarNumero(3)">3</button>
<button (click)="presionarNumero(4)">4</button>
<button (click)="presionarNumero(5)">5</button>
<button (click)="presionarNumero(6)">6</button>
<button (click)="presionarNumero(7)">7</button>
<button (click)="presionarNumero(8)">8</button>
<button (click)="presionarNumero(9)">9</button>
<button (click)="presionarOperador('+')">+</button>
<button (click)="mostrarResultado()">=</button>