.boton {
    font-size: 40px;
    display: block;
    float: left;
    width: 100px;
    height: 80px;
}

.botonDoble {
    font-size: 40px;
    display: block;
    float: left;
    width: 200px;
    height: 80px;
}